/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#imgPop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    /* margin-right: 25px; */
    align-items: flex-start;
    padding: 15px 0;
    background: #b0c4de85;
    display: none;
}

#imgContainer p{
    font-size: 40px;
    width: 3%;
    position: relative;
    left: 340px;
    cursor: pointer;
}

#vidContainer p{
    font-size: 40px;
    width: 3%;
    position: relative;
    left: 340px;
    cursor: pointer;
}

#imgPop img{
    width: 50%;
    margin-right: 25px;
    height: 100%;
    object-fit: contain;
}
#imgPop p{
    font-size: 35px;
    cursor: pointer;
}

#imgPop p:hover{
    filter: blur(1px);
}


.image-container {
    backdrop-filter: blur(10px);
    background-color: #000000a1;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#rotatingImage {
    position: absolute;
    left: 42%;
    top: 25%;
    animation: rotateAndScale 2s infinite ease-in-out;
    width: 15%;
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(200deg) scale(0.3);
        filter: drop-shadow(0px 0px 10px #03989e);
        filter: blur(4);
        filter: invert(1);
    }

    100% {
        transform: rotate(360deg) scale(1);
        filter: drop-shadow(0px 0px 0px black);
    }
}

.blur {
    filter: blur(6px);
}

.displayNone {
    display: none;
    /* z-index: 1; */
}

.logo {
    display: block;
    margin: auto;
    width: 40px;
}

#app {
    width: 100%;
    height: 95vh;
    display: flex;
    overflow-y: scroll;
    justify-content: center;
}



#chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#landing div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}


#landing div button {
    font-size: 18px;
    cursor: pointer;
    padding: 0px 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    background-image: url("https://transparenttextures.com/patterns/asfalt-dark.png");
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#send-container {
    display: flex;
}

.container {
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    /* margin: auto; */
    height: 60vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 90%;
}

body {
    font-family: Arial, sans-serif;
}

#fileInput {
    /* Add some basic styling here */
    border: 2px solid #0077FF;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.innerDiv{
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.file-card {
    margin: 10px 5px;
    width: 100%;
    /* max-width: 80%; */
    /* display: none; */
    /* background-color: #f5f5f5; */
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    /* padding: 12px; */
    display: flex;
    align-items: center;
    /* justify-content: end; */
}

.file-name {
    margin-right: 8px;
    flex-grow: 1;
}

#downloadButton {
    font-size: 25px;
    margin-right: 10px;
    /* padding: 6px; */
    background-color: #0077FF;
    color: #FFF;
    padding: 5px 16px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#downloadButton:hover {
    background-color: #0055CC;
}

.download-icon {
    margin-right: 8px;
}

.message {
    background-color: #f2f2f2;
    width: auto;
    max-width: 85%;
    padding: 5px 12px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 18px;
    clear: both;
    font-family: 'Poppins', sans-serif;
}

.message img {
    width: 100%;
    max-height: 300px;
    cursor: pointer;
}

.message p {
    font-size: 12px;
}

.left {
    float: left;
    justify-content: start;
}

.right {
    float: right;
    /* background: lightsteelblue; */
    justify-content: end;
}

.right p {
    font-size: 10px;
    text-align: end;
}

.left p {
    font-size: 10px;
    text-align: end;
}

/* Centered messages (if needed) */
.center {
    /* background-color: #e5e5e5; */
    margin: 5px auto;
    justify-content: center;
    text-align: center;
    clear: both;
    padding: 2px 10px;
    /* width: 30%; */
    background: none;
    font-size: 12px;
    border: none;
    color: mediumblue;
}

.send {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent white background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* display: flex;
    align-items: center; Vertically center content */
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#emojiButton {
    font-size: 30px;
    text-align: center;
    padding: 0px;
    cursor: pointer;
}

/* #previewImg {
    width: 63vw;
    height: 61vh;
    position: fixed;
    top: 7%;
    object-fit: contain;
    left: 18.5%;
    z-index: -1;
} */

.imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    height: 100vh;
    display: none;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.vidContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    height: 100vh;
    display: none;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#vidContainer video {
    height: 65%;
    width: 65%;
    object-fit: contain;
}

#vidSend {
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}
#imgContainer img {
    height: 65%;
    width: 65%;
    object-fit: contain;
}

#imgSend {
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}



.inputs-label {
    cursor: pointer;
    font-size: 25px;
    margin: 0px 5px;
}

.inputs-label:hover {
    transform: scale(1.1);
}


#emoji-picker-button {
    border: none;
    /* width: 40px; */
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    bottom: 120px;
}

.btn {
    background: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
}

#landing {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 80%;

}

nav {
    padding: 20px;
}

.logo {
    max-width: 100px;
    height: auto;
}

#landing div input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#landing div button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#landing div button:hover {
    background-color: #2374a7;
}


@keyframes typing-indication {
    0% {
        content: ". ";
    }

    25% {
        content: ".. ";
    }

    50% {
        content: "... ";
    }

    75% {
        content: " ";
    }

    100% {
        content: " ";
    }
}

/* Apply the animation to the typing indicator element */
.typing-indicator::after {
    content: " ";
    /* Initial content, invisible */
    display: inline-block;
    width: 3ch;
    /* Adjust the width to control the spacing between dots */
    animation: typing-indication 1s steps(4) infinite;
    /* Adjust duration as needed */
}

.visibleNot {
    visibility: hidden;
}

.typing-indicator {
    position: sticky;
    top: 0px;
    background: white;
    top: -6%;
    height: 33px;
}

.seenIndicator {
    background: white;
    height: auto;
    position: relative;
    top: 88%;
    font-size: 10px;
}