@import url("./global.css");
@import url("./theme.css");
/* @import url("./bp.css"); */
@import url("./elements-folder/informational/main.css");
@import url("./elements-folder/informational/section.css");
@import url("./elements-folder/informational/ul.css");
@import url("./elements-folder/input/button.css");
@import url("./elements-folder/input/input.css");
@import url("./elements-folder/input/form.css");
@import url("./elements-folder/informational/text-elements.css");
@import url("./elements-folder/navigational/header.css");
@import url("./elements-folder/navigational/nav.css");
@import url("./elements-folder/navigational/footer.css");
@import url("./components-folder/informational/anchor.css");
@import url("./components-folder/informational/div.css");
@import url("./components-folder/informational/aside.css");
@import url("./components-folder/informational/ul.css");
@import url("./components-folder/informational/li.css");
@import url("./components-folder/informational/article.css");
@import url("./components-folder/informational/text.css");
@import url("./components-folder/informational/image.css");
@import url("./components-folder/input/button.css");
@import url("./components-folder/navigational/navbar.css");cover ;


    --card1-img:url("https://images.ctfassets.net/2d5q1td6cyxq/3iFaJmhx6GKbn4CeN8jZPm/f3cd0bd7b8d2330029cece51ca9667fb/USEN_salon_omnichannel-commerce.jpeg?w=1200&h=630&fm=jpg&q=90&fit=thumb") no-repeat center center/cover;

    --card2-img:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6IoetFkUzCujaXHflwagZTJdXZHt-cgEd8J2VhfNN6f1igzsqX5z1Pa6vcvYcIgtrsV4&usqp=CAU") no-repeat center center/cover;

    --card3-img:url("https://images.ctfassets.net/2d5q1td6cyxq/3iFaJmhx6GKbn4CeN8jZPm/f3cd0bd7b8d2330029cece51ca9667fb/USEN_salon_omnichannel-commerce.jpeg?w=1200&h=630&fm=jpg&q=90&fit=thumb") no-repeat center center/cover;

    --card4-img:url("https://images.ctfassets.net/2d5q1td6cyxq/3iFaJmhx6GKbn4CeN8jZPm/f3cd0bd7b8d2330029cece51ca9667fb/USEN_salon_omnichannel-commerce.jpeg?w=1200&h=630&fm=jpg&q=90&fit=thumb") no-repeat center center/cover;

    --imagine-img: url("https://images.ctfassets.net/2d5q1td6cyxq/42U3hZJToUUGCvgT6eGOXQ/a0b47e218590dd500f8aa7e010d28982/PD04034_-_L_US_HP_salon_hotspot.png?w=2998&h=1145&fm=avif&q=85&fit=scale")no-repeat cover center/cover;

    --sol-img:url("https://images.ctfassets.net/2d5q1td6cyxq/eNOTBoEdTxDuumUmwjV38/720c8b433f23bcf8dfdc8983637d5839/PD03116_-_M_USEN_large_business_v2.png?w=2015&h=2282&fm=avif&q=85&fit=scale") no-repeat center center/cover;

    --meet-img:url("https://images.ctfassets.net/2d5q1td6cyxq/6t57lHd0gyqnrIYePOl5eX/8c45ae9b254580d577f77b1ca1c39290/Intro0010_comp_USEN_v009.1060.jpg?w=2998&h=1349&fm=avif&q=85&fit=scale")no-repeat center center/cover;

    --mini-card-img: url("https://images.ctfassets.net/2d5q1td6cyxq/5DRtE0a8WLK74M0lt9kVkU/067a616417b8a297a85fe6d809235757/PD04033_-_base_USEN_HP_tap_to_pay.png?w=973&h=506&fm=avif&q=85&fit=scale")no-repeat center center/cover;

    --setup-img: url("https://images.ctfassets.net/2d5q1td6cyxq/1JUNKJOzIhZ310xvrYeA7c/9e99eba4ade61595cdc390d7e538a72d/shop-the-setup-photodom-thumbnail.jpg?w=973&h=729&fm=avif&q=85&fit=scale")no-repeat center center/cover;
    
}

